/*
Theme Name: Avada Child
Description: Child theme for the Avada
Author: Your name here
Template: Avada
*/

.post-content ul.arrow li:before {background-color: #E9A825!important;}

.flip-box-front,
.flip-box-back {
	height: 350px !important;
	min-height: 350px !important;
	max-height: 350px !important;
	overflow: hidden;	
}

.fusion-row div#attachment_10390,
.fusion-row div#attachment_10603,
.fusion-row div#attachment_10602 {
	width: 33.3% !important;
	text-align: center !important;
	margin-right: 0 !important;
}

.fusion-row div#attachment_10390 img,
.fusion-row div#attachment_10603 img,
.fusion-row div#attachment_10602 img {
	height: 225px;
	margin-bottom: 10px;
}

.fusion-row div#attachment_10390 p,
.fusion-row div#attachment_10603 p,
.fusion-row div#attachment_10602 p {
	width: 80%;
	margin: 0 auto;
}

.fusion-fullwidth.fullwidth-box.fusion-fullwidth-4.fusion-parallax-fixed.nonhundred-percent-fullwidth .fusion-column-wrapper {
	text-align: center;
}
.fusion-fullwidth.fullwidth-box.fusion-fullwidth-4.fusion-parallax-fixed.nonhundred-percent-fullwidth .fusion-column-wrapper li,
.fusion-fullwidth.fullwidth-box.fusion-fullwidth-4.fusion-parallax-fixed.nonhundred-percent-fullwidth .fusion-column-wrapper ul{
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
}

.fusion-checklist .fusion-li-item {
	text-align: center;
}
span.icon-wrapper.circle-yes {
	display: inline-block;
}
.fusion-li-item-content {
	display: inline-block;
	vertical-align: top;
	width: 65%;
	margin-left: 0 !important;
}
.fusion-checklist .icon-wrapper {
	float: none;
}

a.fusion-button.button-flat.button-round.button-xlarge.button-custom.button-3.fusion-animated {
	width: 100%;
	margin: 0 auto 19px;
}


.fusion-separator.fusion-full-width-sep.sep-none,
.fusion-sep-clear {
	display: none;
}
a.fusion-social-network-icon.fusion-tooltip {
	color:#fff !important;
}


body.page-id-69 img.person-img.img-responsive,
body.page-id-3751 img.person-img.img-responsive{
	height: 200px;
	width: 100%;
}
body.page-id-69 a.fusion-social-network-icon.fusion-tooltip,
body.page-id-3751 a.fusion-social-network-icon.fusion-tooltip {
	padding: 4px !important;
}

body.page-id-72 .flip-box-front-inner {
	padding-top: 25px;
}

body.page-id-86 input {
	width: 100% !important;
	margin-bottom: 5px;
}

div#post-86 ul {
	display: none;
}

div#post-86 #comment-input {
	width: 100%;
}


/*HEADER*/
.fusion-secondary-header {
	min-height: 30px !important;
	height: 30px !important;
}
.fusion-social-links-header {
	margin-top: 0;
}
.fusion-secondary-menu > ul > li > a {
	height: 30px !important;
	line-height: 1em !important;
}
.fusion-secondary-menu > ul > li > a .menu-text {
	display: block !important;
}
.fusion-secondary-menu > ul > li {
	border: 0 !important;
	padding-top: 7px !important;
}
.fusion-social-links-header .fusion-social-networks.boxed-icons a {
	padding: 4px !important;
}
.fusion-logo img {
	width: 150px !important;
}
.fusion-header {
	height: 118px !important;
}

/*RESPONSIVE*/
.fusion-mobile-selector {
	color:#fff !important;
}
.fusion-mobile-nav-item a {
	color:#fff !important;
}
.fusion-header-banner h1,
.fusion-header-banner h2,
.fusion-header-banner h4 {
	text-align: center !important;
}
.fusion-header-banner h2 {
	line-height: 1.2em !important;
}

@media (min-width: 1200px) {
	.fusion-flip-box-wrapper.fusion-column.col-lg-3.col-md-3.col-sm-3 {
		width: 50%;
	}	
}

@media only screen and (max-width: 1023px) {
	.fusion-header-wrapper .fusion-header, .fusion-header-wrapper .fusion-secondary-main-menu {
		background-color:rgba(170, 169, 169, 0.7) !important;	
	}
	.fusion-secondary-header {
		display: none;
	}
	.fusion-header {
		padding-top: 6px !important;
		background-color: #868585 !important;
	}

}
@media only screen and (max-width: 650px) {
	.fusion-row h1{
		font-size: 22px !important;
	}
	.flip-box-front, .flip-box-back {
		height: 300px !important;
    	min-height: 300px !important;
    	max-height: 300px !important;
	}
	.fusion-row div#attachment_10390, .fusion-row div#attachment_10603, .fusion-row div#attachment_10602 {
		width: 100% !important;
		margin-bottom: 15px;
	}
	.tp-parallax-wrap {
		display: none !important;
	}
	a.fusion-button.button-flat.button-round.button-xlarge.button-custom.button-4.fusion-animated {
		width: 100%;
	}
	.fusion-footer .fusion-row {
		text-align: center;
	}
	.recent-works-items {
		height: 65px;
	}
	h1.entry-title {
		text-align: center;
	}
	body.page-id-69 img.person-img.img-responsive {
		height: auto;
	}

}

